<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">	
	<resultMap type="kr.ac.knou.dto.comment.Comment" id="commentResult">
	    <result column="id" property="id"/>
	    <result column="writer_id" property="writerId"/>
	    <result column="content" property="content"/>
	    <result column="created_at" property="createdAt"/>

	    <collection property="user" resultMap="userResult"/>
	</resultMap>
	 
	<resultMap type="kr.ac.knou.dto.user.User" id="userResult">
	    <result column="id" property="id"/>
	    <result column="email" property="email"/>
	    <result column="password" property="password"/>
	    <result column="nickname" property="nickname"/>
	</resultMap>

	<insert id="createComment">
		INSERT INTO COMMENTS(CONTENT, BOARD_ID, WRITER_ID) 
		VALUES(
		#{content},
		#{boardId},
		#{writerId}
		);
	</insert>
	
	<update id="updateComment">
		UPDATE BOARDS
		SET COMMENT_CNT = 
		( SELECT COUNT(ID) FROM COMMENTS WHERE BOARD_ID = #{id} )
		WHERE ID = #{id};
	</update>
	
	<!-- 게시물 답글보기 : 게시물 ID에 해당하는 댓글리스트 보이기, 댓글 단 유저 이름, 사진 보이기, 날짜를 기준으로 내림차순  -->
	<select id="readCommentList" resultMap="commentResult">
		SELECT U.NICKNAME, U.IMAGE, C.CONTENT, C.CREATED_AT
		FROM COMMENTS C
		LEFT OUTER JOIN USERS U ON C.WRITER_ID = U.ID 
		WHERE BOARD_ID = #{id}
		ORDER BY C.CREATED_AT DESC;
	</select>
	
</mapper>