<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="like">	

	<!-- 유저id와 게시물id로 매칭되는 like id가 있는지 확인 -->
	<select id="selectLikeIdForBoardIdAndUserId" resultType="Integer">
		SELECT ID FROM LIKES WHERE BOARD_ID = #{boardId} AND USER_ID = #{userId}
	</select>
	
	<!-- 게시물 id로  매칭되는 like 들을  확인 -->
	<select id="selectLikesForBoardId" resultType="kr.ac.knou.dto.like.Like">
		SELECT * FROM LIKES WHERE BOARD_ID = #{boardId}
	</select>
	
	<!-- 해당 id의 is_liked 상태 확인 -->
	<select id="selectIsLikedForId" resultType="Integer">
		SELECT IS_LIKED FROM LIKES WHERE ID = #{id}
	</select>
	
	<insert id="insertLike">
		INSERT INTO LIKES(BOARD_ID, USER_ID)
		VALUES(#{boardId}, #{userId})
	</insert>
	
	<!-- 해당 id의 is_liked 상태 바꾸기 -->
	<update id="updateLike">
		UPDATE LIKES SET IS_LIKED = #{isLiked} WHERE ID = #{id}
	</update>
	
	<delete id="deleteLike">
		DELETE FROM LIKES WHERE ID = #{id}
	</delete>
</mapper>