@charset "UTF-8";

.status-wrap{width:160px;}
.status-child{width:53px;}
.list-wrap{border-bottom:1px dotted #E6E6E6;}
.list-wrap:last-child {border-bottom:none;}
.font-scp{font-size:25px;}
@media (max-width: 575.98px)
{  
	.status-wrap{width:100px;}
	.status-child{width:33px;}
	.font-scp{font-size:16px;}
}